body{
    /* background-color: #d7d8dd; */
    background-image: url("images/pic\ \(2\).jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    border: 3px solid #d7d8dd;
    border-radius: 3px;
    color: black;
    width: 420px;
    margin: 8vh auto 0 auto;
    background-color: #d7d8dd;
}

form h3{
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.formField input:focus{
    outline: 0;
}

.formField.success input{
    border-color: #09c372;
}

.formField.error input{
    border-color: #ff3860;
}

.formField .error{
    color: #ff3860;
    font-size: 11px;
    height: 13px;
}

.formField small{
    color: #ff3860;
    font-size: 14px;
}

.log-in {
    background-color: #084cb1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.log-in:hover{
    background-color: darkblue;
}

span.psw {
    float: right;
    padding: 5px 10px;
}

a{
    text-decoration: none;
}

.container {
    padding: 16px;
}

.register-btn {
    background-color: #ee0b0b;
    color: white;
    padding: 8px;
    margin: 3px;
    border: none;
    border-radius: 7%;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #dc0a0a;
}

